#inspectorMedia div #inspectorInfoRepScrollingViewerContainer {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 170px;
  margin-top: 0px;
  padding-top: 0px;
}

.simple_editor_img_primary {
  width: 100%;
  text-align: center;
}

.simple_editor_imgs img {
  max-height: 50px;
  margin:4px;
}

#mainContent {
  .watchThis, #caDuplicateItemButton {
    line-height: 30px;
    margin-right:4px;
    padding:4px;
    display:inline-block;
    font-family: 'DIN-Regular';
    font-weight: bold;

    A, A:hover {
      color:inherit;
      text-decoration: inherit;
    }
    IMG {
      vertical-align: middle;
      padding-right:2px;
    }
  }
  #simple_editor_top {
    clear:both;
    #top_box {
      clear:both;
      #top_editor_box {
        width:65%;
        height:auto;
        /*overflow: scroll;*/
        padding-right:10px;

        #ObjectEditorTopForm {
          display:block;
        }

        input[type="text"], input[type="textarea"], textarea, input[type="password"] {
          border:none;
        }
        .bundleLabel {
          margin: 0 2px 2px 0;
          .bundleContentPreview {
            display: block;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

      }
      #medias_box {
        width:33%;float:right;
        background: white;
        box-shadow: 0px 0px 20px 0px #cfcfcf;
        height:300px;
        display:table;


        #simple_editor_main_img {
          text-align: center;
          height:230px;
          white-space: nowrap;

          text-align: center; margin: 1em 0;
          .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
          img {
            vertical-align: middle;
          }
        }
        #simple_editor_imgs {
          display: table-row;
        }
      }

      div.control-box {
        padding: 0px;
        text-align: left;
        width: 99%;
        float: none;

        background-color: transparent;
      }
      a.form-button {
        margin-right:0px;
      }

    }
}

  .attributeListItem textarea,
  .bundleContainer textarea {
    max-width:74% !important;
  }

  .bundleContainer .caRelatedItem {
    max-width: 90%;
  }

  .caItemList {
    overflow-y:visible;
  }

  #lower_form {
    position: fixed;
    width: 1000px;
    height: 350px;
    overflow: scroll;
    padding-right: 15px;
  }
  .sectionBox {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
    margin-bottom: 2px;

    .bundleLabel {
      break-inside: avoid;
      display:inline-block;
      width: 100%;
    }
  }

  #screensList {
    display: block;
    clear:both;
    max-height:40px;
    height:40px;
    width: auto;
    overflow-y: hidden;
    /*overflow-x: scroll;*/
    padding-top:8px;
    border-bottom: 1px solid #CCCCCC;

    .screen_button {
        display: inline-block;
        margin-right:4px;
        margin-bottom:4px;
        border:1px solid #ccc;
        padding:6px;
        line-height: 28px;
        background-color: #ddd !important;
        font-family: "din-regular", arial, sans-serif;
        text-transform: uppercase;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;

        color:#333;
        text-decoration: inherit;
        font-weight: bold;
        cursor:pointer;
    }
    .screen_button.current {
        background-color: white !important;
    }
  }
}

// Probleme barre défilement firefox http://jsfiddle.net/qqPcb/
.leftSearchResultsWrapper {
  width: 280px;
  overflow: visible;

  .leftSearchResults {
    height: 100px;
    overflow: auto;
    cursor:pointer;

    .leftSearchResult{
      padding:4px;
      min-height:48px;

      IMG {
        height:40px;
        width:auto;
        float:left;
        margin-right:4px;
      }
    }
  }
}

#leftSearchResults,
.scroll {
  /*border: 1px solid #aaa;*/
  padding: 5px 10px;
  height: 450px;
  overflow-y: scroll;
  margin: 5px 12px 5px 3px;
  /*background: #ffc;*/
}
#leftSearchResult-form {
  display: block;
  margin:10px;
}
#leftSearchResult-form input {
  margin-bottom: 3px;
  border:1px solid #ddd;
  width: 100%;
}

.hidden {
  display: none;
}

#leftNav {
  padding-top:38px;
}


#mainContent .attributeListItem textarea, #mainContent .bundleContainer textarea {
  max-width: 300px !important;
}

div.caLabelList table table td {
  // Fixe le problème des entités dans un tableau qui dépasse la largeur de colonne
  display: inline-block;
}