/* line 1, ../scss/simpleEditor.scss */
.leftSearchResult {
  padding: 4px;
}

/* line 5, ../scss/simpleEditor.scss */
#inspectorMedia div #inspectorInfoRepScrollingViewerContainer {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 170px;
  margin-top: 0px;
  padding-top: 0px;
}

/* line 14, ../scss/simpleEditor.scss */
.simple_editor_img_primary {
  width: 100%;
  text-align: center;
}

/* line 19, ../scss/simpleEditor.scss */
.simple_editor_imgs img {
  max-height: 50px;
  margin: 4px;
}

/* line 25, ../scss/simpleEditor.scss */
#mainContent .watchThis, #mainContent #caDuplicateItemButton {
  line-height: 30px;
  margin-right: 4px;
  padding: 4px;
  float: left;
  font-family: 'DIN-Regular';
  font-weight: bold;
}
/* line 33, ../scss/simpleEditor.scss */
#mainContent .watchThis A, #mainContent .watchThis A:hover, #mainContent #caDuplicateItemButton A, #mainContent #caDuplicateItemButton A:hover {
  color: inherit;
  text-decoration: inherit;
}
/* line 37, ../scss/simpleEditor.scss */
#mainContent .watchThis IMG, #mainContent #caDuplicateItemButton IMG {
  vertical-align: middle;
  padding-right: 2px;
}
/* line 42, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top {
  clear: both;
}
/* line 44, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box {
  clear: both;
}
/* line 46, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box {
  width: 65%;
  height: auto;
  overflow: scroll;
  padding-right: 10px;
}
/* line 52, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box TEXTAREA {
  max-width: 44%;
}
/* line 55, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box table {
  max-width: 44% !important;
}
/* line 58, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box input[type="text"], #mainContent #simple_editor_top #top_box #top_editor_box input[type="textarea"], #mainContent #simple_editor_top #top_box #top_editor_box textarea, #mainContent #simple_editor_top #top_box #top_editor_box input[type="password"] {
  border: none;
}
/* line 61, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box .bundleLabel {
  margin: 0 2px 2px 0;
  width: 46%;
  float: left;
}
/* line 65, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box .bundleLabel .bundleContentPreview {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}
/* line 73, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box {
  width: 33%;
  float: right;
  background: white;
  box-shadow: 0px 0px 20px 0px #cfcfcf;
}
/* line 80, ../scss/simpleEditor.scss */
#mainContent .sectionBox {
  position: relative;
  overflow-y: scroll;
  width: 990px;
  height: 400px;
  padding-right: 10px;
}
/* line 88, ../scss/simpleEditor.scss */
#mainContent #screensList {
  display: block;
  clear: both;
  max-height: 40px;
  height: 40px;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-top: 20px;
}
/* line 98, ../scss/simpleEditor.scss */
#mainContent #screensList .screen_button {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  padding: 6px;
  line-height: 28px;
  background-color: #ddd !important;
  font-family: "din-regular", arial, sans-serif;
  text-transform: uppercase;
  color: #333;
  text-decoration: inherit;
  font-weight: bold;
}
/* line 113, ../scss/simpleEditor.scss */
#mainContent #screensList .screen_button.current {
  background-color: white !important;
}
