/* line 1, ../scss/simpleEditor.scss */
#inspectorMedia div #inspectorInfoRepScrollingViewerContainer {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 170px;
  margin-top: 0px;
  padding-top: 0px;
}

/* line 10, ../scss/simpleEditor.scss */
.simple_editor_img_primary {
  width: 100%;
  text-align: center;
}

/* line 15, ../scss/simpleEditor.scss */
.simple_editor_imgs img {
  max-height: 50px;
  margin: 4px;
}

/* line 21, ../scss/simpleEditor.scss */
#mainContent .watchThis, #mainContent #caDuplicateItemButton {
  line-height: 30px;
  margin-right: 4px;
  padding: 4px;
  display: inline-block;
  font-family: 'DIN-Regular';
  font-weight: bold;
}
/* line 29, ../scss/simpleEditor.scss */
#mainContent .watchThis A, #mainContent .watchThis A:hover, #mainContent #caDuplicateItemButton A, #mainContent #caDuplicateItemButton A:hover {
  color: inherit;
  text-decoration: inherit;
}
/* line 33, ../scss/simpleEditor.scss */
#mainContent .watchThis IMG, #mainContent #caDuplicateItemButton IMG {
  vertical-align: middle;
  padding-right: 2px;
}
/* line 38, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top {
  clear: both;
}
/* line 40, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box {
  clear: both;
}
/* line 42, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box {
  width: 65%;
  height: auto;
  /*overflow: scroll;*/
  padding-right: 10px;
}
/* line 48, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box #ObjectEditorTopForm {
  display: block;
}
/* line 52, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box input[type="text"], #mainContent #simple_editor_top #top_box #top_editor_box input[type="textarea"], #mainContent #simple_editor_top #top_box #top_editor_box textarea, #mainContent #simple_editor_top #top_box #top_editor_box input[type="password"] {
  border: none;
}
/* line 55, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box .bundleLabel {
  margin: 0 2px 2px 0;
}
/* line 57, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #top_editor_box .bundleLabel .bundleContentPreview {
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}
/* line 65, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box {
  width: 33%;
  float: right;
  background: white;
  box-shadow: 0px 0px 20px 0px #cfcfcf;
  height: 300px;
  display: table;
}
/* line 73, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box #simple_editor_main_img {
  text-align: center;
  height: 230px;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
}
/* line 79, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box #simple_editor_main_img .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 84, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box #simple_editor_main_img img {
  vertical-align: middle;
}
/* line 88, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box #medias_box #simple_editor_imgs {
  display: table-row;
}
/* line 93, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box div.control-box {
  padding: 0px;
  text-align: left;
  width: 99%;
  float: none;
  background-color: transparent;
}
/* line 101, ../scss/simpleEditor.scss */
#mainContent #simple_editor_top #top_box a.form-button {
  margin-right: 0px;
}
/* line 108, ../scss/simpleEditor.scss */
#mainContent .attributeListItem textarea,
#mainContent .bundleContainer textarea {
  max-width: 74% !important;
}
/* line 113, ../scss/simpleEditor.scss */
#mainContent .bundleContainer .caRelatedItem {
  max-width: 90%;
}
/* line 117, ../scss/simpleEditor.scss */
#mainContent .caItemList {
  overflow-y: visible;
}
/* line 121, ../scss/simpleEditor.scss */
#mainContent #lower_form {
  width: 1000px;
  height: 350px;
  overflow: scroll;
  padding-right: 15px;
}
/* line 127, ../scss/simpleEditor.scss */
#mainContent .sectionBox {
  /*-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
    margin-bottom: 2px;*/
}
/* line 136, ../scss/simpleEditor.scss */
#mainContent .sectionBox .bundleLabel {
  break-inside: avoid;
  display: inline-block;
  width: 98%;
}
/* line 143, ../scss/simpleEditor.scss */
#mainContent #screensList {
  display: block;
  clear: both;
  max-height: 40px;
  height: 40px;
  width: auto;
  overflow-y: hidden;
  /*overflow-x: scroll;*/
  padding-top: 8px;
  border-bottom: 1px solid #CCCCCC;
}
/* line 154, ../scss/simpleEditor.scss */
#mainContent #screensList .screen_button {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  padding: 6px;
  line-height: 28px;
  background-color: #ddd !important;
  font-family: "din-regular", arial, sans-serif;
  text-transform: uppercase;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #333;
  text-decoration: inherit;
  font-weight: bold;
  cursor: pointer;
}
/* line 172, ../scss/simpleEditor.scss */
#mainContent #screensList .screen_button.current {
  background-color: white !important;
}

/* line 179, ../scss/simpleEditor.scss */
.leftSearchResultsWrapper {
  width: 280px;
  overflow: visible;
}
/* line 183, ../scss/simpleEditor.scss */
.leftSearchResultsWrapper .leftSearchResults {
  height: 100px;
  overflow: auto;
  cursor: pointer;
}
/* line 188, ../scss/simpleEditor.scss */
.leftSearchResultsWrapper .leftSearchResults .leftSearchResult {
  padding: 4px;
  min-height: 48px;
}
/* line 192, ../scss/simpleEditor.scss */
.leftSearchResultsWrapper .leftSearchResults .leftSearchResult IMG {
  height: 40px;
  width: auto;
  float: left;
  margin-right: 4px;
}

/* line 202, ../scss/simpleEditor.scss */
#leftSearchResults,
.scroll {
  /*border: 1px solid #aaa;*/
  padding: 5px 10px;
  height: 450px;
  overflow-y: scroll;
  margin: 5px 12px 5px 3px;
  /*background: #ffc;*/
}

/* line 211, ../scss/simpleEditor.scss */
#leftSearchResult-form {
  display: block;
  margin: 10px;
}

/* line 215, ../scss/simpleEditor.scss */
#leftSearchResult-form input {
  margin-bottom: 3px;
  border: 1px solid #ddd;
  width: 100%;
}

/* line 221, ../scss/simpleEditor.scss */
.hidden {
  display: none;
}

/* line 225, ../scss/simpleEditor.scss */
#leftNav {
  padding-top: 38px;
}

/* line 230, ../scss/simpleEditor.scss */
#mainContent .attributeListItem textarea, #mainContent .bundleContainer textarea {
  max-width: 300px !important;
}

/* line 234, ../scss/simpleEditor.scss */
div.caLabelList table table td {
  display: inline-block;
}

/* line 239, ../scss/simpleEditor.scss */
span.columnbreak {
  display: block;
  border-bottom: 1px dashed black;
  height: 4px;
  margin: 0 30%;
}

/* line 241, ../scss/simpleEditor.scss */
div.sectionBox > A {
  display: block;
  border: 3px solid blue;
}
